<h2> Tab Component </h2>

<div class="row" >

    <div class="col col-2 btn-group-vertical">
        <h5>Gerar componente:</h5>
        <button type="button" class="btn btn-secondary" (click)="openChild()">openChild</button>
        <button type="button"class="btn btn-secondary"  (click)="openAnotherChild()">openAnotherChild</button>
        <button type="button" class="btn btn-secondary " (click)="openAlgumaCoisa()">openAlgumaCoisa</button>
        <button type="button"class="btn btn-secondary "(click)="openPapel()">openPapel</button>
    </div>

    <div class="col col-10">

        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let value of instanceOfComponents" (click)="tabClickSelect(value)" >
                    <a [ngClass]="setMyClass(value.component)">  {{value.component.componentType.name}} <span (click)="tabClickRemove(value)"> X </span> </a>
            </li>
        </ul>
        <br>
        <div #parent></div>

    </div>