<div class="card text-center">

    <div class="card-header">
        <div class="row">
            <div class="col-11">
                <ul class="nav nav-tabs card-header-tabs ">
                    <li class="nav-item" *ngFor="let value of instanceOfComponents" (click)="tabClickSelect(value)">
                        <a [ngClass]="setMyClass(value.component)">  {{value.tabName}} <span (click)="tabClickRemove(value)"> X </span> </a>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <i class="material-icons dp48">dehaze</i>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div #parent></div>
    </div>

</div>