<h2> Tab Component </h2>

<div class="row form-group " >
    <div *ngFor="let value of instanceOfComponents" (click)="tabClick(value)" class="form-group" style="margin-left:5px; margin-right: 5px">
        {{value.component.componentType.name}}{{value.id}}
    </div>
</div>

<br>

<div (click)="openChild()">openChild</div>
<div (click)="openAnotherChild()">openAnotherChild</div>
<div (click)="openAlgumaCoisa()">openAlgumaCoisa</div>
<div (click)="openPapel()">openPapel</div>


<br>

<div  #parent></div>

<div class="btn-group" data-toggle="buttons">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton > Left (pre-checked)
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton > Middle
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton > Right
    </label>
  </div>