<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Tab Component</a>
</nav>

<div class="row">

  <div class="col-12 col-md-9">
    <app-tab></app-tab>
  </div>

  <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action list-group-item-primary" (click)="openTeacher()">Professor</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-primary" (click)="openStudent()">Aluno</a>
    </div>
  </div>

</div>